<div>
  <div>
    <h1>
      <%= @the_trip.name %> Details
    </h1>
    <p> 
    Created <%= time_ago_in_words(@the_trip.created_at) %> ago. 
      </p>
    <p> 
    Last updated <%= time_ago_in_words(@the_trip.updated_at) %> ago. 
      </p>
    

<hr>
<h4>Expected Date: <%= @the_trip.expected_date %></h4>

<div>
  <div>
    <h3>
      Add a trip expense:
    </h3>

    <form action="/insert_trip_expense" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>
      <p><i>Include the trip name and Deposit #1, Deposit #2, Transportation, or Other Spend.</i><p>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount">
      </div>

      <div>
        <label for="expected_date_box">
          Expected Payment Date
        </label>

        <input type="date" id="expected_date_box" name="query_expected_date">
      </div>

      <div>
        <input type="hidden" id="expense_types_id_box" name="query_expense_types_id" value= 1>
      </div>

        <div>

        <input type="hidden" id="trips_id_box" name="query_trips_id" value="<%= @the_trip.id %>">
      </div>

      <button>
        Add expense
      </button>

<hr>

<h3>Current Expenses for <%= @the_trip.name %></h3>

<h4>Total Expenses = <%= @list_of_trip_expenses.pluck(:amount).sum %> </h4>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Expected payment due date
        </th>

        <th>
          Amount
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trip_expenses.each do |trip_expense| %>
      <tr>
        <td>
          <%= trip_expense.name %>
        </td>

        <td>
          <%= trip_expense.expected_date  %>
        </td>
        <td>
          <%= trip_expense.amount %> 
        </td>
        <td>
          <%= time_ago_in_words(trip_expense.updated_at) %> ago
        </td>

        <td>
          <a href="/expenses/<%= trip_expense.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <a href="/delete_trip/<%= @the_trip.id %>">
    Delete trip
  </a>
</div>

<hr>


<div>
  <div>
    <a href="/trips">
      Return to all trips
    </a>
  </div>
</div>
