

<h1>Home Dashboard</h1>

<!--bar graph representing net cash flows by month-->

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Income', 'Expenses', 'Net Cash Flow'],
          ['January', <%= @jan_monthly_income%>, <%= @jan_monthly_expenses%>, <%= @jan_monthly_income - @jan_monthly_expenses%>],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Net Cash Flows',
            subtitle: 'Cash flows from income and expenses',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  </body>
</html>



<%= @jan_monthly_income %> Income, <%= @jan_monthly_expenses %> Expenses
<%= @feb_monthly_income %>

<h2>Net Cash Flow Graph<h2>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>


<!--table showing net cash flows calculation by month-->

<hr>

<h3>Net Cash Flows</h3>
    <div>
      <div>
        <table border="1">
        <tr>
            <th>
            </th>
            <th>
              Jan
            </th>

            <th>
              Feb
            </th>

            <th>
              Mar
            </th>
            
            <th>
              Apr
            </th>

            <th>
              May
            </th>

            <th>
              Jun
            </th>

            <th>
              Jul
            </th>

            <th>
              Aug
            </th>

            <th>
              Sept
            </th>

            <th>
              Oct
            </th>

            <th>
              Nov
            </th>

            <th>
              Dec
            </th>
          </tr>

<% @a.each do |a_month| %>

  <% @target_month = a_month %>
  <% @monthly_income = 0 %>
  <% @monthly_expense = 0 %>

    <% @list_of_incomes.each do |an_income| %>
        <% @income_month = an_income.expected_date.month %>
        <% @income_amount = an_income.amount %>

          <%  if @income_month == @target_month %>
            <% @monthly_income = @monthly_income + @income_amount %>
           <% end %>

      <% end %>

        <% @list_of_expenses.each do |an_expense| %>
        <% @expense_month = an_expense.expected_date.month %>
        <% @expense_amount = an_expense.amount %>

          <%  if @expense_month == @target_month %>
            <% @monthly_expense = @monthly_expense + @expense_amount %>
           <% end %>

      <% end %>
    
  <% @net_cash_flow = @monthly_income - @monthly_expense %>

          <tr>
            <td>
              Income
            </td>
            <td>
            <%= @monthly_income %>
            </td>
          </tr>

          <tr>
            <td>
              Expenses
            </td>

            <td>
            <%= @monthly_expense %>
            </td>
          </tr>

          <tr>
            <td>
              Net Cash Flow
            </td>
            <td>
              <%= @net_cash_flow%>
            </td>
          </tr>
      </table>
  </div>
</div>


<% end %>








 <% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
  <li><%= an_income.amount %>
  </li>
 </ul>
 <% end %>
