<h1>Home Dashboard</h1>

<h2>Net Cash Flows<h2>

<!--bar graph representing net cash flows by month-->



<!--table showing net cash flows calculation by month-->


<%= @jan_monthly_income %>
<%= @feb_monthly_income %>

<!-- testing array -->
<% @a.each do |thing| %>
    <%= thing + 1%> 
<% end %>

<hr>
<% @a.each do |a_month| %>

  <% @target_month = a_month %>
  <% @monthly_income = 0 %>
  <% @monthly_expense = 0 %>

    <% @list_of_incomes.each do |an_income| %>
        <% @income_month = an_income.expected_date.month %>
        <% @income_amount = an_income.amount %>

          <%  if @income_month == @target_month %>
            <% @monthly_income = @monthly_income + @income_amount %>
           <% end %>

      <% end %>

        <% @list_of_expenses.each do |an_expense| %>
        <% @expense_month = an_expense.expected_date.month %>
        <% @expense_amount = an_expense.amount %>

          <%  if @expense_month == @target_month %>
            <% @monthly_expense = @monthly_expense + @expense_amount %>
           <% end %>

      <% end %>

  <p>Month #<%=@target_month%> has <%= @monthly_income %> in income and <%= @monthly_expense %> in expenses. </p>

<% end %>




 <% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
  <li><%= an_income.amount %>
  </li>
 </ul>
 <% end %>



<h3>Net Cash Flows</h3>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Jan
        </th>

        <th>
          Feb
        </th>

        <th>
          July
        </th>
      </tr>

      <tr>
        <td>
          Income
        </td>
        <td>
        Sample
        </td>
        <td>
        Sample
        </td>
        <td>
        Sample
        </td>
      </tr>

      <tr>
        <td>
          Expenses
        </td>
      </tr>

      <tr>
        <td>
          Net Cash Flow
        </td>
      </tr>

    </table>
  </div>
</div>

<hr>

