<!--adding spaces-->

<p></p>
<p></p>
<p></p>

<div>
<h3>
  Cash Flows
  <small class="text-muted">Incomes & Expenses by Month</small>
</h3>
</div>

<!--adding spaces-->

<p></p>
<p></p>
<p></p>

<!--bar graph representing net cash flows by month-->

<div>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Income', 'Expenses', 'Net Cash Flow'],
          ['January', <%= @jan_monthly_income%>, <%= @jan_monthly_expenses%>, <%= @jan_net_cash %>],
          ['February', <%= @feb_monthly_income%>, <%= @feb_monthly_expenses%>, <%= @feb_net_cash %>],
          ['March', <%= @mar_monthly_income%>, <%= @mar_monthly_expenses%>, <%= @mar_net_cash %>],
          ['April', <%= @apr_monthly_income%>, <%= @apr_monthly_expenses%>, <%= @apr_net_cash %>],
          ['May', <%= @may_monthly_income%>, <%= @may_monthly_expenses%>, <%= @may_net_cash %>],
          ['June', <%= @jun_monthly_income%>, <%= @jun_monthly_expenses%>, <%= @jun_net_cash %>],
          ['July', <%= @jul_monthly_income%>, <%= @jul_monthly_expenses%>, <%= @jul_net_cash %>],
          ['August', <%= @aug_monthly_income%>, <%= @aug_monthly_expenses%>, <%= @aug_net_cash %>],
          ['September', <%= @sep_monthly_income%>, <%= @sep_monthly_expenses%>, <%= @sep_net_cash %>],
          ['October', <%= @oct_monthly_income%>, <%= @oct_monthly_expenses%>, <%= @oct_net_cash %>],
          ['November', <%= @nov_monthly_income%>, <%= @nov_monthly_expenses%>, <%= @nov_net_cash %>],
          ['December', <%= @dec_monthly_income%>, <%= @dec_monthly_expenses%>, <%= @dec_net_cash %>]
        ]);

        var options = {
          chart: {
            title: 'Net Cash Flows',
            subtitle: 'Cash flows from income and expenses',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  </body>
</html>
</div>


<!--table showing net cash flows calculation by month-->

<hr>

<div>

    <div>
      <div>
        <table class="table table-hover">
        <tr class="table-info">
            <th scope="col">
            </th>
            <th scope="col">
              January
            </th>

            <th scope="col">
              February
            </th>

            <th scope="col">
              March
            </th>
            
            <th scope="col">
              April
            </th>

            <th scope="col">
              May
            </th>

            <th scope="col">
              June
            </th>

            <th scope="col">
              July
            </th>

            <th scope="col">
              August
            </th>

            <th scope="col">
              September
            </th>

            <th scope="col">
              October
            </th>

            <th scope="col">
              November
            </th>

            <th scope="col">
              December
            </th>
          </tr>



          <tr>
            <td>
              Income
            </td>
            <td>
              <%= @jan_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @feb_monthly_income.to_s(:currency)  %>
            </td>
             <td>
              <%= @mar_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @apr_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @may_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @jun_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @jul_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @aug_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @sep_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @oct_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @nov_monthly_income.to_s(:currency) %>
            </td>
             <td>
              <%= @dec_monthly_income.to_s(:currency) %>
            </td>
          </tr>

          <tr>
            <td>
              Expenses
            </td>

            <td>
              <%= @jan_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @feb_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @mar_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @apr_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @may_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @jun_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @jul_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @aug_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @sep_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @oct_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @nov_monthly_expenses.to_s(:currency) %>
            </td>
            <td>
              <%= @dec_monthly_expenses.to_s(:currency) %>
            </td>
          </tr>

          <tr class="table-warning">
            <td>
              Net Cash Flow
            </td>
            <td>
              <%= @jan_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @feb_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @mar_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @apr_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @may_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @jun_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @jul_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @aug_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @sep_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @oct_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @nov_net_cash.to_s(:currency) %>
            </td>
              <td>
              <%= @dec_net_cash.to_s(:currency) %>
            </td>
          </tr>
      </table>
  </div>
</div>
</div>









 <!--<% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
  <li><%= an_income.amount %>
  </li>
 </ul>
 <% end %>
