<h1>Home Dashboard</h1>

<h2>Net Cash Flows<h2>

<!--bar graph representing net cash flows by month-->

<%= Income.group_by_month.pluck(:amount).sum %>


<!--table showing net cash flows calculation by month-->


<%= @jan_monthly_income %>
<%= @feb_monthly_income %>

<hr>

<h3>Net Cash Flows</h3>
    <div>
      <div>
        <table border="1">
        <tr>
            <th>
            </th>
            <th>
              Jan
            </th>

            <th>
              Feb
            </th>

            <th>
              Mar
            </th>
            
            <th>
              Apr
            </th>

            <th>
              May
            </th>

            <th>
              Jun
            </th>

            <th>
              Jul
            </th>

            <th>
              Aug
            </th>

            <th>
              Sept
            </th>

            <th>
              Oct
            </th>

            <th>
              Nov
            </th>

            <th>
              Dec
            </th>
          </tr>

<% @a.each do |a_month| %>

  <% @target_month = a_month %>
  <% @monthly_income = 0 %>
  <% @monthly_expense = 0 %>

    <% @list_of_incomes.each do |an_income| %>
        <% @income_month = an_income.expected_date.month %>
        <% @income_amount = an_income.amount %>

          <%  if @income_month == @target_month %>
            <% @monthly_income = @monthly_income + @income_amount %>
           <% end %>

      <% end %>

        <% @list_of_expenses.each do |an_expense| %>
        <% @expense_month = an_expense.expected_date.month %>
        <% @expense_amount = an_expense.amount %>

          <%  if @expense_month == @target_month %>
            <% @monthly_expense = @monthly_expense + @expense_amount %>
           <% end %>

      <% end %>
    
  <% @net_cash_flow = @monthly_income - @monthly_expense %>

  <!-- <p>Month #<%=@target_month%> has <%= @net_cash_flow%> in net cash flow, with <%= @monthly_income %> in income and <%= @monthly_expense %> in expenses. </p> -->

          <tr>
            <td>
              Income
            </td>
            <td>
            <%= @monthly_income %>
            </td>
          </tr>

          <tr>
            <td>
              Expenses
            </td>

            <td>
            <%= @monthly_expense %>
            </td>
          </tr>

          <tr>
            <td>
              Net Cash Flow
            </td>
            <td>
              <%= @net_cash_flow%>
            </td>
          </tr>

<% end %>

        </table>
      </div>
    </div>






 <% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
  <li><%= an_income.amount %>
  </li>
 </ul>
 <% end %>









<hr>

