<div>
  <div>
    <h1>
      Income Planner
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new income
    </h3>

    <form action="/insert_income" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount">
      </div>

      <div>
        <label for="expected_date_box">
          Expected date
        </label>

        <input type="date" id="expected_date_box" name="query_expected_date">
      </div>

      <div>
        <label for="income_type_box">
          Income type
        </label>

        <select id="income_type_box" name="query_income_types_id">
          <% list_of_income_types = IncomeType.all %>
          <% list_of_income_types.each do |thing| %>
          <option value="<%= thing.id %>"><%= thing.name.capitalize %></option>
          <% end %>
        </select>
      </div>

      <div>
        <button>
          Add income
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<h3>My Current Incomes </h3>
<div>
  <div>
    <table class="table table-hover" >
      <tr class="table-info">

        <th scope="col">
          Name
        </th>

        <th scope="col">
          Amount
        </th>

        <th scope="col">
          Expected Date
        </th>

        <th scope="col">
          Income Type
        </th>

        <th scope="col">
          Created at
        </th>

        <th scope="col">
          Updated at
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_incomes.each do |an_income| %>
      <tr>
        <td>
          <%= an_income.name %>
        </td>

        <td>
          <%= an_income.amount.to_s(:currency) %>
        </td>

        <td>
          <%= an_income.expected_date %>
        </td>

        <td>
          <% type_id = an_income.income_types_id %>
          <% type = IncomeType.where({:id => type_id}).at(0)%>
          <%= type.name.capitalize %>
        </td>

        <td>
          <%= time_ago_in_words(an_income.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_income.updated_at) %> ago
        </td>

        <td>
          <a href="/incomes/<%= an_income.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

