<div>
  <div>
    <h1>
      <%= @the_income.name %> Details
    </h1>

  <p> Created <%= time_ago_in_words(@the_income.created_at) %> ago. <p>
  <p> Updated <%= time_ago_in_words(@the_income.updated_at) %> ago. <p>

  <hr>

<div>
  <div>
    <h2>
      Update income
    </h2>

    <form action="/modify_income/<%= @the_income.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_income.name %>">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount" value="<%= @the_income.amount %>">
      </div>

      <div>
        <label for="expected_date_box">
          Expected Receival Date
        </label>

        <input type="date" id="expected_date_box" name="query_expected_date" value="<%= @the_income.expected_date %>">
      </div>

      <div>
        <label for="income_type_box">
          Income type
        </label>

        <input type="text" id="income_type_box" name="query_income_type" value="<%= @the_income.income_type %>">
      </div>

      <button>
        Update income
      </button>
    </form>
  </div>
</div>

<hr>

 <div>
    <a href="/delete_income/<%= @the_income.id %>">
      Delete income
    </a>
  </div>

<hr>
    <div>
      <div>
        <a href="/incomes">
          Return to all incomes
        </a>
      </div>

     
    </div>

    

<hr>
