<div>
  <div>
    <h1>
      Expense Planner
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new expense:
    </h3>



    <form action="/insert_expense" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount">
      </div>

      <div>
        <label for="expected_date_box">
          Expected Payment Date
        </label>

        <input type="date" id="expected_date_box" name="query_expected_date">
      </div>

      <div>
        <label for="expense_type_box">
          Expense type
        </label>

        <select id="expense_type_box" name="query_expense_types_id">
            <% list_of_expense_types = ExpenseType.all %>
            <% list_of_expense_types.each do |thing| %>
              <% if thing.name != "trip" %>
            <option value="<%= thing.id %>"><%= thing.name.gsub("_", " ").capitalize %></option>
              <% end %>
            <% end %>
        </select>

    <p><i>To add expenses for a trip, go to <a href="/trips">My Trips</a>!</i></p>
    
      </div>

      <button>
        Add expense
      </button>
      
    </form>
  </div>
</div>

<hr>
<h3>My Current Expenses </h3>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Amount
        </th>

        <th>
          Expected date
        </th>

        <th>
          Expense type
        </th>
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_expenses.each do |an_expense| %>
      <tr>
        <td>
          <%= an_expense.name %>
        </td>

        <td>
          <%= an_expense.amount  %>
        </td>

        <td>
          <%= an_expense.expected_date %>
        </td>

        <td>
          <% type_id = an_expense.expense_types_id %>
          <% specific_type = ExpenseType.where({ :id => type_id }).at(0)%>
          <%= specific_type.name.gsub("_", " ").capitalize %>
        </td>
        <td>
          <%= time_ago_in_words(an_expense.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_expense.updated_at) %> ago
        </td>

        <td>
          <a href="/expenses/<%= an_expense.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
