<div>
  <div>
    <h1>
      <%= @the_expense.name %> Details
    </h1>
    <p> 
    Created <%= time_ago_in_words(@the_expense.created_at) %> ago. 
      </p>
    <p> 
    Last updated <%= time_ago_in_words(@the_expense.updated_at) %> ago. 
      </p>
    

<hr>

<div>
  <div>
    <h2>
      Update expense
    </h2>

    <form action="/modify_expense/<%= @the_expense.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_expense.name %>">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount" value="<%= @the_expense.amount %>">
      </div>

      <div>
        <label for="expected_date_box">
          Expected Payment Date
        </label>

        <input type="date" id="expected_date_box" name="query_expected_date" value="<%= @the_expense.expected_date %>">
      </div>

      <div>
      <label for="expense_type_box">
          Expense Type
        </label>

        <select id="expense_type_box" name="query_expense_types_id">
            <% list_of_expense_types = ExpenseType.all %>
            <% list_of_expense_types.each do |thing| %>
            <option value="<%= thing.id %>"><%= thing.name.gsub("_", " ").capitalize %></option>
            <% end %>
        </select>
      </div>

      <button>
        Update expense
      </button>
    </form>
  </div>
</div>

<hr>

<div>
        <a href="/delete_expense/<%= @the_expense.id %>">
          Delete expense
        </a>
      </div>

<hr>


    <div>
      <div>
        <a href="/expenses">
          Return to all expenses
        </a>
      </div>
    </div>