<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

  <h4>MBA Cash Flow + Trip Planner</h4>

  <!--
      Only show the sign up/in links if no one is signed in. Else, show the sign out link.
      -->
      <%# if session.keys.exclude?("user_id") %>
      <% if session.fetch("user_id") == nil %>
        <li>
          <a href="/user_sign_up">
            Sign up
          </a>
        </li>
        <li>
          <a href="/user_sign_in">
            Sign in
          </a>
        </li>
      <% else %>
        <li>
          <a href="/user_sign_out">
            Sign out
          </a>
        </li>
      <% end %>
      <li>
        <a href="/">Net Cash Flow Dashboard</a>
      </li>

      <li>
        <a href="/incomes">My Income</a>
      </li>

      <li>
        <a href="/expenses">My Expenses</a>
      </li>

      <li>
        <a href="/trips">My Trips</a>
      </li>
    </ul>



    <h1 style="color: green">
      <%= notice %>
    </h1>

    <h1 style="color: red">
      <%= alert %>
    </h1>

    <hr>

    <%= yield %>
  </body>
</html>
